<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">

</head>

<body>
    <main>
        <h2>{{pageTitle}}</h2>


        <form class="editshop-form" id="editshop-form" action="/admin/edit-shop" method="POST">
            <div class="form-control">
                {{#if email}} <label for="email">email: {{email}}</label>
                {{else}}<label for="email">email</label>
                {{/if}}
                <input type="email" name="email" id="email"
                    {{!-- {{#if emailError}} class="editshop-input-error" {{/if}} --}}>
            </div>
            <button id="editshop-submitbutton" class="btn" type="submit">change email</button>
        </form>


        <form class="editshop-form" id="editshop-form" action="/admin/edit-shop" method="POST">
            <div class="form-control">
                {{#if name}} <label for="name">name: {{name}}</label>
                {{else}}<label for="name">name</label>
                {{/if}}
                <input type="text" name="name" id="name"
                    {{!-- {{#if emailError}} class="editshop-input-error" {{/if}} --}}>
            </div>
            <button id="editshop-submitbutton" class="btn" type="submit">change name</button>
        </form>

        <form class="editshop-form" id="editshop-form" action="/admin/edit-shop" method="POST">
            <div class="form-control">
                {{#if bio}} <label for="bio">bio: {{bio}}</label>
                {{else}}<label for="bio">bio</label>
                {{/if}}
                <input type="text" name="bio" id="bio"
                    {{!-- {{#if emailError}} class="editshop-input-error" {{/if}} --}}>
            </div>
            <button id="editshop-submitbutton" class="btn" type="submit">change bio</button>
        </form>

        <form class="editshop-form" id="editshop-form" action="/admin/edit-shop" method="POST">
            <div class="form-control">
                {{#if shopTitle}} <label for="shopTitle">shop title: {{shopTitle}}</label>
                {{else}}<label for="shopTitle">shopTitle</label>
                {{/if}}
                <input type="text" name="shopTitle" id="shoptitle">
                {{!-- {{#if passwordError}}
                <p class="editshop-errormessage">incorrect password</p>
                {{/if}} --}}
            </div>
            <button id="editshop-submitbutton" class="btn" type="submit">change shop title</button>
        </form>

        {{#if profilePic}} <img class="editshop-profilepic" src="{{profilePic}}"> {{/if}}
        <form class="editshop-form" id="editshop-form" action="/admin/edit-shop" method="POST">
            <div class="form-control">
                <label for="profilePic">profile picture</label>
                <input type="text" name="profilePic" id="profilePic">
                {{!-- {{#if passwordError}}
                <p class="editshop-errormessage">incorrect password</p>
                {{/if}} --}}
            </div>
            <button id="editshop-submitbutton" class="btn" type="submit">change profile picture url</button>
        </form>

        {{#if coverPic}} <img class="editshop-coverpic" src="{{coverPic}}"> {{/if}}
        <form class="editshop-form" id="editshop-form" action="/admin/edit-shop" method="POST">

            <div class="form-control">
                <label for="coverPic">cover picture</label>
                <input type="text" name="coverPic" id="coverPic">
                {{!-- {{#if passwordError}}
                <p class="editshop-errormessage">incorrect password</p>
                {{/if}} --}}
            </div>
            <button id="editshop-submitbutton" class="btn" type="submit">change cover picture url</button>
        </form>


    </main>
</body>

</html>