<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/orders.css">
</head>

<body>
    <h1>ORDERS</h1>

    {{#if orders}}

    {{#each orders}}
    <div class="order">
        <h2 class="center">price: ${{price}}</h2>

        Products:
        {{#each products}}
        <div class="orders-product center">
            <p class="center">quantity: {{quantity}}</p>
            <p class="center">total price: ${{totalPrice}}</p>
            <img class="orders-product-img" src="{{imageUrl}}">
        </div>
        {{/each}}


    </div>
    {{/each}} {{else}} <h2>no outstanding orders</h2>

    {{/if}}

    {{!-- <h1 class="adminproducts-heading text-center">My Products</h1>

    {{#if hasProducts}}
    <div class="center"><a href="/admin/add-product">add another product</a></div>
    <div class="adminproducts-container">
        {{#each products}}
        <div class="adminproducts-product">
            <a href="/shop/product/{{id}}">
                <h2 class="adminproducts-product-title">{{title}}</h2>
            </a>
            <p class="adminproducts-product-price">{{price}}</p>
            <img class="adminproducts-product-image" src={{imageUrl}} />
            <p class="adminproducts-product-description">{{description}}</p>
            <a class="text-center" href="/admin/edit-product/{{id}}">edit</a>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="adminproducts-noproducts text-center">
        <h2>You haven't listed any products yet...</h2>
        <a href="/admin/add-product">add a product</a>
    </div>
    {{/if}}
    </div> --}}

</body>

</html>