<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/adminproducts.css" </head>

<body>
    <h1 class="adminproducts-heading">My Products</h1>
    {{#if hasProducts}}
    <a href="/admin/add-product">add another product</a>
    {{#each products}}
    <div class="adminproducts-product">
        <a href="/shop/product/{{id}}">
            <h2 class="adminproducts-product-title">{{title}}</h2>
        </a>
        <p class="adminproducts-product-price">{{price}}</p>
        <img class="adminproducts-product-image" src={{imageUrl}} />
        <p class="adminproducts-product-description">{{description}}</p>
    </div>
    {{/each}}
    {{else}}
    <div class="adminproducts-noproducts">
        <h2>You haven't listed any products yet...</h2>
        <a href="/admin/add-product">add a product</a>
    </div>
    {{/if}}
</body>

</html>