<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/forms.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <h1 class="cart-title text-center">{{pageTitle}}</h1>
    {{#if hasItems}}
    <div class="cart">
        {{#each cartItems}}
        <div class="cart-item">
            <a href="/shop/product/{{product}}">
                <h2>{{title}}</h2>
            </a>

            <img src={{imageUrl}} class="cart-item-img">
            <p>quantity: {{quantity}}</p>
            <p>${{price}}</p>

            <form action="/shop/remove-from-cart/{{id}}" method="POST" class="cart-removebutton">
                <button class="btn" type="submit">remove</button>
            </form>


        </div>
        {{/each}}
    </div>
    <div class="checkout-container">
        <form class="checkout" action="/shop/checkout" method="POST">
            <div class="form-control">
                <input class="center mb-2" placeholder="full name" type="text" name="fullName" id="fullName">
                <input class="center" placeholder="address" type="text" name="address" id="address">
            </div>
            <button {{!-- type="submit" --}} id="checkout-button" class="btn checkout-button">check out</button>
            <h2 id="errorMessage"></h2>
        </form>
    </div>
    {{else}}
    <h1 class="center">your cart is empty</h1>
    {{/if}}

    <script>
        const stripe = window.Stripe("{{ stripeKey }}");
        const stripeSessionId = "{{ stripeSession.id }}";

        const submitButton = document.querySelector("#checkout-button");
        submitButton.addEventListener("click", () => {
            stripe
                .redirectToCheckout({
                    // Make the id field from the Checkout Session creation API response
                    // available to this file, so you can provide it as parameter here
                    // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
                    sessionId: stripeSessionId
                })
                .then(function (result) {
                    console.log('STRIPE REDIRECT RESULT: ', result);
                    if (result.error.message) {
                        const errorEl = document.querySelector("#errorMessage");
                        errorEl.innerHTML = result.error.message;
                    }
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer
                    // using `result.error.message`.
                });
        })



    </script>

</body>

</html>