<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <h1>cart</h1>
    <h1>cart</h1>
    <h1>cart</h1>
    <h1>cart</h1>

    <div class="cart">
        {{#each cartItems}}
        <div class="cart-item">
            <p>{{title}}</p>
            <p>quantity: {{quantity}}</p>
            <p>price: {{price}}</p>
            <p>description: {{description}}</p>
            <img src={{imageUrl}} class="cart-item-img">
        </div>
        {{/each}}
    </div>

</body>

</html>