<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <h1 class="cart-title text-center">{{pageTitle}}</h1>
    {{#if hasItems}}
    <div class="cart">
        {{#each cartItems}}
        <div class="cart-item">
            <a href="/shop/product/{{product}}">
                <h2>{{title}}</h2>
            </a>

            <img src={{imageUrl}} class="cart-item-img">
            <p>quantity: {{quantity}}</p>
            <p>price: {{price}}</p>

            <form action="/shop/remove-from-cart/{{id}}" method="POST" class="cart-removebutton">
                <button class="btn" type="submit">remove</button>
            </form>


        </div>
        {{/each}}
    </div>
    <div class="checkout-container">
        <form class="checkout" action="/shop/checkout" method="POST">
            <button type="submit" class="btn checkout-button">check out</button>
        </form>
    </div>
    {{else}}
    <h1>your cart is empty</h1>
    {{/if}}

</body>

</html>