<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <main>
        <article class="card product-item">
            <header class="card-top">
                <h1 class="product-title-large">{{product.title}}</h1>
            </header>
            <div class="card-image">
                <img src={{product.imageUrl}} alt="A Book">
            </div>

            <div class="card-content">
                <div class="center ">
                    by <a href="/shop/store/{{author}}">{{authorName}}</a>
                </div>
                <p class="product-description">{{product.description}}
                    <h2 class="product-price">${{product.price}}</h2>
                </p>
            </div>
            <div class="card-actions">
                <button class="btn">Add to Cart</button>
            </div>
        </article>
        <div class="product-space"></div>
    </main>
</body>

</html>