<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <main>
        {{#if hasProducts }}
        <div class="grid">
            {{#each prods}}
            <article class="card product-item">
                <header class="card-top">
                    <a href="/shop/product/{{id}}">
                        <h1 class="product-title-medium">{{title}}</h1>
                    </a>
                </header>

                <span class="text-center mb-2">by <a href="/shop/store/{{author}}">{{seller}}</a></span>
                <div class="card-image">
                    <img src={{imageUrl}} alt="A Book">
                </div>
                <div class="card-content">
                    <h2 class="product-price">${{price}}</h2>
                    <p class="product-description">{{description}}
                    </p>
                </div>
                {{#if authorIsCurrentUser}}
                <a class="center" href="/admin/edit-product/{{id}}">edit</a>
                {{else}}
                <div class="card-actions">
                    <form
                        action="/shop/add-to-cart/{{id}}?price={{price}}&imageUrl={{imageUrl}}&author={{author}}&title={{title}}"
                        method="POST">
                        <button class="btn" type="submit">Add to Cart</button>
                    </form>
                </div>
                {{/if}}
            </article>
            {{/each}}
        </div>
        {{ else}}
        <h1>no products found</h1>
        {{/if}}
        <div class="products-space"></div>
    </main>
</body>

</html>