<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <main>
        <article class="user">
            <header class="card__header">
                <h1 class="product__title">{{user.name}}</h1>
            </header>
            {{#if hasProducts }}
            <div class="grid">
                {{#each products}}
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">{{title}}</h1>
                    </header>
                    <div class="card__image">
                        <img src={{imageUrl}} alt="A Book">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">${{price}}</h2>
                        <p class="product__description">{{description}}
                        </p>
                    </div>
                    <div class="card__actions">
                        <button class="btn">Add to Cart</button>
                    </div>
                </article>
                {{/each}}
            </div>
            {{ else}}
            <h1>{{user.name}} has posted no products yet</h1>
            {{/if}}
        </article>
    </main>
</body>

</html>